{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}
{% load crispy_forms_tags %}
    <div class="container">
        <br>
        <br>
        <br>
        
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">

                        <h2>Inicia Sesión</h2>
                        <hr>
                        <form action="" method="POST">

                            {%csrf_token%}
                            {{form | crispy}}
                            <a class="btn btn-secondary float-right " href="{% url 'index' %}">Cancelar</a>
                            <input type="submit" value="Ingresar" class="btn btn-dark float-rigth">


                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
