{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}
    {% load crispy_forms_tags %}
<title>Registrate</title>
</head>
<body>
   
    <div class="container">
        <br>
        <br>
        <br>
        
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">

                        <h2>Registro de usuario</h2>
                        <hr>
                        
                        <form action="" method="POST">
                            {%csrf_token%}
                            {{form | crispy}}
                            <a href="{% url 'login'%}">Iniciar Sesión</a>

                            <input type="submit" value="Registrar" class="btn btn-dark float-right">


                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
    
</body>
{% endblock %}