<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dos Alamos</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    {% block head %}
    {% endblock %}
</head>
<body>
    
    <header class="header" id="inicio">
            
        <nav class="navbar navbar-expand-lg navbar-light badge-light">
            <img src="/media/logo.png" width="250px" height="70px" alt="" href="#">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'index' %}">Inicio</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'reserva' %}">Reserva de horas</a>
                  </li>
                  {% if perms.core.view_reserva %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'listado_reserva' %}">Listado reserva</a>
                  </li>
                  {% endif %}
                  {% if perms.core.view_pago %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'listado_pago' %}">Listado pago</a>
                  </li>
                  {% endif %}
                  {% if perms.core.view_pago %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'pago' %}">Registrar pago</a>
                  </li>
                  {% endif %}
                  
                  {% if perms.core.view_reserva %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'listado_reserva' %}">Listado reservas</a>
                  </li>
                  {% endif %}
                  {% if perms.core.view_agenda %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'calendariomedico' %}">Calendario medico</a>
                  </li>
                  {% endif %}
                  </li>
                  {% if user.is_authenticated %}
                  <li>  
                    <a href="{% url 'logout' %}">Cerrar sesión</a>
                  </li>
                  <li>
                    <a href="#">@{{ user.username }}</a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'login'%}">Iniciar sesión</a>
                  </li> 
                  {% endif %}


              
                </ul>
              </div>
               
            </div>
          </nav>

        {% block contenido %}
            
        {% endblock contenido %}
        
    
  {% block scripts %}    
  {% endblock %}

     
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  {% if messages %}
  {% for m in messages %}
        <script>
          Swal.fire({
            "title": "Felicitaciones",
            "text": "{{m}}",
            "icon": "succes"
          })
        </script>
  {% endfor %}
  {% endif %} 

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
  
  
  
 
</body>

</html>
