{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}
<br>
<br>
<div class="container">
    <div class="row text-center">
      {% for a in agenda %}
          <div class="col-md-4 pb-1 pb-md-0">
            <div class="card">
              <div class="card-body">
                <p class="card-text">Nombre Medico: {{ a.medico }}</p>
                <p class="card-text">Fecha: {{ a.fecha_asignado }}</p>
                <p class="card-text">numero de reserva:{{ a.reserva}}</p>
                <button class="btn ">Aceptar
              </div>
            </div>        
          </div>
      {% endfor %}
    </div>
</div>
{% endblock %}


{% block scripts %}

{% endblock %}