{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}
<link rel="stylesheet" href="{% static 'fullcalendar/lib/main.css '%}">

{% load crispy_forms_tags %}
<br>
<br>
<div class="container">
<div class="row">
    <div class="col-12 col-md-6 offset-md-3 ">
        <div class="card">
            <div class="card-body ">
                <h2>Calendario Medico </h2>
                <h3>{{mensaje}}</h3>
                <hr>


                <form action="" method="POST">

                    {% csrf_token %}
                    {{ form | crispy }}
                    <hr>
                    <br>

                    <div id ="calendar"></div>
                 
                    

                </form>
                <div id ="calendar"></div>
                


            </div>
        </div>




    </div>

</div>
</div>

{% block extrajs %}

<script src ="{% static 'fullcalendar/lib/main.js' %}"></script>
<script>
    
    document.addEventListener('DOMContentLoaded', function(){
        var calendarUI = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarUI,{

        });
        calendar.render();

       
    });
       

</script>


{% endblock extrajs %}



{% endblock %}

