{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}
    <header class="header" id="inicio">
       
        <div class="contenedor head">
            <h1 class="titulo">Clinica Dos Alamos</h1>
            <p class="copy">Porque tu salud es nuestra prioridad.</p>
        </div>
        
    </header>
    <main>
        <section class="services contenedor" id="servicio">
            <h2 class="subtitulo">Nuestro servicio</h2>
            <div class="contenedor-servicio">
                <img src="/media/medico1.png" alt="">
                <div class="checklist-servicio">
                    <div class="service">
                        <h3 class="n-service"><span class="number">1</span>Mejor atencion</h3>
                        <p> Medicos dispuestos a ofrecer la mejor calidad de atencion.</p>
                    </div>
                    <div class="service">
                        <h3 class="n-service"><span class="number">2</span>Medicos especializados</h3>
                        <p> Nos aseguramos de tener medicos para cada area que necesites.</p>
                    </div>
                    <div class="service">
                        <h3 class="n-service"><span class="number">3</span>Sexoooooo</h3>
                        <p> Sexoooooooooooooooooooooooooooooooooooooooo.</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="imagen-light">
            <img src="/media/close.svg" alt="" class="close">
            <img src="" alt="" class="agregar-imagen">
        </div>
       
        <footer>
  
            <div class="contenedor footer-content">
              <div class="contact-us">
                  <h2 class="brand">Dos Alamos</h2>
                  <p>Clinica</p>
              </div>
              <div class="social-media">
                  <a href="./" class="social-media-icon">
                      <i class='bx bxl-facebook'></i>
                  </a>
                  <a href="./" class="social-media-icon">
                      <i class='bx bxl-twitter' ></i>
                  </a>
                  <a href="./" class="social-media-icon">
                      <i class='bx bxl-instagram' ></i>
                  </a>
              </div>
          </div>
        </footer>
        
{% endblock contenido %}