{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

{% load crispy_forms_tags %}

<div class="card">
    <div class="card-body">
        <h2>Listado  de reservas</h2>
        <hr>

        <table class="table table-striped table-dark table-responsive-sm">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>RUN</th>
                <th>Prevision</th>
                <th>Fecha</th>
                <th>Sexo</th>
                <th>Correo</th>
                <th>Especialidad</th>
                <th>Medico</th>
                <th>Opciones</th>
            </tr>
            {% for p in reserva %}
                    <tr>
                        <td>{{p.nombre | title }}</td>
                        <td>{{p.apellido | title }}</td>
                        <td>{{p.rut | title }}</td>
                        <td>{{p.prevision | title }}</td>
                        <td>{{p.fecha }}</td>
                        <td>{{p.sexo |title }}</td>
                        <td>{{p.correo}}</td>
                        <td>{{p.especialidad | title}}</td>
                        <td>{{p.medico | title}}</td>
                        <td>
                            <a href="{% url 'modificar_reserva' p.id    %}" class="btn btn-dark">Modificar</a>
                            <a href="{% url 'eliminar_reserva' p.id    %}" class="btn btn-danger">Eliminar</a>
                            
                        </td>
                    </tr>
            {% endfor %}


    



    {% endblock %}