{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

{% load crispy_forms_tags %}
{% load humanize %}
<div class="card">
    <div class="card-body">
        <h2>Listado de pago </h2>
        <hr>

        <table class="table table-striped table-dark table-responsive-sm">
            <tr>
                <th>Numero Reserva</th>
                <th>Fecha</th>
                <th>Total</th>
            </tr>
            {% for p in Pago %}
            <tr>
                <td>{{p.Reserva}}</td>
                <td>{{p.fecha_pago | date}}</td>
                <td>${{p.Total_pago | intcomma}}</td>   
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
    



{% endblock %}
