{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

{% load crispy_forms_tags %}
<br>
<br>

<div class="row">
    <div class="col-12 col-md-6 offset-md-3 ">
        <div class="card">
            <div class="card-body ">
                <h2>Editar reserva</h2>
                <hr>


                <form action="" method="POST">

                    {% csrf_token %}
                    {{ form | crispy }}
                    <hr>
                    <br>
                    <div class="d-flex justify-content-end">
                        <input type="reset" value="Cancelar" id="btnCancelar" class="btn btn-secondary">
                        &nbsp;
                        <button type="submit" id="btnGuardar" class="btn btn-primary">Modificar</button>

                    </div>

                </form>
                {{mensaje}}


            </div>
        </div>




    </div>

</div>



{% endblock %}