{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}


{% load crispy_forms_tags %}
<br>
<br>

<div class="row" id="imprimir">
    <div class="col-12 col-md-6 offset-md-3 ">
        <div class="card">
            <div class="card-body">
                <h2 >Registro de pago Dos Alamos </h2>
                <hr>

                <h3>{{mensaje}}</h3> 
                <form action="" method="POST">

                    {% csrf_token %}
                    {{ form | crispy }}
                    <hr>
                    <br>
                    <div class="d-flex justify-content-end">
                        <input type="reset" value="Cancelar" id="btnCancelar" class="btn btn-secondary">
                        &nbsp;
                        <button type="submit" id="btnEnviar" class="btn btn-primary">Registrar</button>

                    </div>

                </form>
                


            </div>
        </div>




    </div>

</div>



{% endblock %}

{% block scripts %} 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script>
  var doc = new jsPDF()

  var div = document.querySelector('#imprimir')
  doc.fromHTML(div,15,15)
  doc.save("comprobante_de_pago.pdf")



</script>

{% endblock %}