{% extends 'core/base.html' %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css">
{% endblock %}
{% block contenido %}

{% load crispy_forms_tags %}
<br>
<br>
<div class="container">
<div class="row">
    <div class="col-12 col-md-6 offset-md-3 ">
        <div class="card">
            <div class="card-body ">
                <h2>Reserva de hora </h2>
                <h3>{{mensaje}}</h3>
                <hr>


                <form action="" method="POST">

                    {% csrf_token %}
                    {{ form | crispy }}
                    <hr>
                    <br>
                    <div class="d-flex justify-content-end">
                        <input type="reset" value="Cancelar" id="btnCancelar" class="btn btn-secondary">
                        &nbsp;
                        <button type="submit" id="btnEnviar" class="btn btn-dark">Reservar</button>
                                                                               
                    </div>

                </form>
                


            </div>
        </div>




    </div>

</div>
</div>



{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(function() {
        $('#datetimepicker1').datetimepicker();
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
{% endblock %}